<p-toast />

<div class="flex items-center justify-between pt-6 pl-6 ml-6 pr-6">
  <div>
    <h1 class="text-5xl font-bold opacity-80">Directorio de Usuarios</h1>
    <p class="text-muted-color mt-2.5 opacity-90 text-gray-400">
      Consulta el listado y el estado de las cuentas registradas en el sistema.
    </p>
  </div>
</div>
<p-divider class="bg-[#252233]! mb-6"></p-divider>

<div class="flex justify-center items-center w-full h-full mt-6 pl-10 pr-10">
  <app-datagrid-user
    class="w-full min-h-50"
    [columns]="column"
    [buttonOptions]="buttonsOptions"
    (paramsGrid)="OnParamsGrid($event)"
    [data]="data()"
    [totalRecords]="totalRecords()"
    [loading]="loading()"
  />
</div>

<app-user-role-dialog
  [visible]="showRoleDialog()"
  (visibleChange)="showRoleDialog.set($event)"
  [user]="selectedUser()"
  (saved)="onRoleAssigned()"
/>
