<hr class=" bottom-3 border-[#252233]">
<div class="mt-5 p-5">
  <p (click)="visible = true" class=" flex items-center hover:scale-95 hover:cursor-pointer">
    <i class="pi pi-exclamation-circle mr-3"></i>
    <span class="hover:underline">Help Center</span>
  </p>
  <p (click)="Logout()" class="mt-4 flex items-center hover:scale-95 hover:cursor-pointer">
    <i class="pi pi-sign-out mr-3 text-red-300 font-bold"></i>
    <span>Logout</span>
  </p>
</div>


<p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false" header="Servicio Tecnico"
  class="block" [pt]="{
    root: { class: 'bg-[#131C31] border border-[#1E293B] rounded-xl shadow-2xl text-white max-w-md w-full m-4' },
    header: { class: 'bg-[#131C31] border-b border-[#1E293B] p-5 rounded-t-xl text-xl font-bold text-white' },
    content: { class: 'bg-[#131C31] p-5 text-[#F8FAFC]' },
    footer: { class: 'bg-[#131C31] border-t border-[#1E293B] p-5 rounded-b-xl flex justify-end gap-3' },
    mask: { class: 'backdrop-blur-sm bg-black/40' }
  }">

  <div class="flex flex-col gap-4">
    <p class="text-md text-[#9CA3AF] mt-2">
      Sobre cualquier inconveniente contactar nuestro soporte tecnico al +1 829-923-5017
    </p>
  </div>

  <ng-template #footer>
    <button (click)="visible = false"
      class="px-4 py-2 text-sm font-medium mt-2 text-gray-400 hover:text-white transition-colors">
      Salir
    </button>
  </ng-template>