<div class="flex h-screen w-full bg-[#0B0914]">
  <aside
    class="w-66 h-full bg-[#13111C] primary-color flex flex-col border-r-2 border-[#252233] border-opacity shrink-0">
    <div class="header flex p-5 justify-center items-center">
      <div>
        <span>
          <img src="/images/omakase.png" width="60px" height="60px" alt="">
        </span>
      </div>
      <div class="flex flex-col gap-1">
        <h1 class="text-lg font-bold text-[#7b52ab]  ">
          Omakase Gateway
        </h1>
        <p class="text-[9px] font-bold text-[#9C98B3]  ">VIGILANT ADNIMISTRATION </p>
      </div>

    </div>

    <app-menu-options />

    <div class="mt-auto">
      <!-- <app-menu-option-footer /> -->
    </div>
  </aside>

  <main class="flex-1 overflow-y-auto p-6">
    <router-outlet />
  </main>
</div>