<p-toast />

<div class="flex items-center justify-between pt-6  pl-6 ml-6">
  <h1 class="text-5xl font-bold opacity-80">Network Summary</h1>
</div>
<p class="text-muted-color mt-0 opacity-90 text-gray-400 pl-6 ml-6">Real-time status of global zero trust infrastructure
</p>
<p-divider class="bg-[#252233]! mb-6"></p-divider>
<!-- <p-tag value="{{totalRecords()}} Registrados" class="mr-4"/> -->

<div class="flex flex-col justify-center items-center  mt-6">
  <app-system-health [metrics]="metrics()" [logs]="logs()" />

  <section class="flex justify-center items-center  mt-10 w-full ">
    <div class="flex flex-col gap-2 ml-10 w-full">

      <div class="mr-11 ">
        <app-logs-realtime [logs]="logsLive()" />
      </div>

    </div>

  </section>
</div>
