<p-toast />

<div class="flex items-center justify-between pt-6 mt-6 pl-6 ml-6">
  <h1 class="text-6xl font-bold opacity-80">Network Summary</h1>
</div>
<p class="text-muted-color mt-0 opacity-90 text-gray-400 pl-6 ml-6">Real-time status of global zero trust infrastructure
</p>
<p-divider class="bg-[#252233]! mb-6"></p-divider>
<!-- <p-tag value="{{totalRecords()}} Registrados" class="mr-4"/> -->

<div class="flex flex-col justify-center items-center  mt-6">
  @if(metrics() !== null){
  <app-system-health [metrics]="metrics()!" />
  }

  <section class="flex justify-center items-center pr-10  mt-10 w-9/12 ">
    <div class="grid grid-cols-[2fr_1fr] gap-2 ml-10">

      <div class="mr-12">
        <app-logs-realtime [logs]="logsLive()" />
      </div>

      <div class="ml-12">
        <app-table-log [logs]="logs()" />
      </div>

    </div>

  </section>
</div>