:host {
  display: block;
}

:host ::ng-deep .p-datatable-custom {
  width: 100% !important;
}

:host ::ng-deep .p-datatable-custom .p-datatable-thead>tr>th {
  background-color: #1A1726 !important;

  /* Fondo de la tarjeta */
  color: #9A96A8 !important;
  /* Texto grisáceo */
  border-color: #2F2B43 !important;
  /* Borde inferior sutil */
  border-width: 0 0 1px 0 !important;
  /* Solo borde abajo, sin bordes verticales */
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.05em;
  padding: 1rem 1rem;
}

:host ::ng-deep .p-datatable-custom .p-datatable-thead>tr>th.filter-row-header {
  background-color: rgba(19, 17, 28, 0.4) !important;
  padding: 0.5rem 1rem !important;
  border-bottom: 1px solid #2F2B43 !important;
}

/* 2. Cuerpo de la Tabla (Tbody) */
:host ::ng-deep .p-datatable-custom .p-datatable-tbody>tr {
  background-color: #1A1726 !important;
  color: #F3F3F6 !important;
  transition: background-color 0.2s ease;
}

/* 3. Celdas de Datos (Td) */
:host ::ng-deep .p-datatable-custom .p-datatable-tbody>tr>td {
  border-color: rgba(47, 43, 67, 0.5) !important;
  /* Borde muy sutil entre filas */
  border-width: 0 0 1px 0 !important;
  padding: 0 1rem;
  /* El padding vertical lo maneja Tailwind en el HTML con py-3.5 */
}

/* 4. Quitar el fondo por defecto al hacer Hover (ya lo manejamos con Tailwind) */
:host ::ng-deep .p-datatable-custom .p-datatable-tbody>tr:hover {
  background-color: transparent !important;
}
