<p-toast />
<p-confirmdialog />

<div class="flex items-center justify-between mb-2">
  <div class="flex flex-col items-left justify-center pt-6 pl-6 ml-6">
    <h1 class="text-5xl font-bold opacity-80">Gestión de Roles y Permisos</h1>
    <p class="text-muted-color mt-2.5 opacity-90 text-gray-400">
      Define y asigna los niveles de privilegios para el control de acceso de los usuarios.
    </p>
  </div>

  <p-button
    pTooltip="Crear rol"
    label="Nuevo rol"
    icon="pi pi-plus"
    class="text-white border-none text-sm font-semibold px-4 py-2"
    [style]="{ 'background-color': '#9d72ff' }"
    (onClick)="openCreate()"
  />
</div>
<p-divider class="bg-[#252233]!"></p-divider>

<div class="flex justify-center items-center h-full mt-20 pl-10 pr-10">
  <app-datagrid
    class="w-8/12"
    [columns]="column"
    [data]="data()"
    [loading]="loading()"
    [paginator]="false"
    [lazy]="false"
    actionsHeader="ACCIONES"
    emptyMessage="No matching roles found."
  >
    <ng-template #bodyTemplate let-role>
      <tr class="hover:bg-[#232032] transition-colors border-b border-[#2F2B43]/50 text-xs">
        <td class="font-mono text-[11px] text-[#9a96a8] pl-6 py-4 h-10">
          {{ role.name }}
        </td>
        <td class="py-4 w-100">
          <span class="text-xs font-mono text-gray-400">{{ role.description }}</span>
        </td>
        <td class="py-4 text-blue-700 opacity-70 text-[15px] font-bold pl-15!">
          {{ role.usersCount }}
        </td>
        <td class="py-4 text-center">
          <div class="flex justify-center">
            <button
              type="button"
              pButton
              severity="secondary"
              variant="outlined"
              pTooltip="Ver acciones"
              tooltipPosition="top"
              (click)="op.toggle($event); selectedRole.set(role)"
            >
              <i class="pi pi-ellipsis-h"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </app-datagrid>
</div>

<p-popover #op>
  <div class="grid grid-cols-2 gap-4">
    @for (item of buttonsOptions; track $index) {
      <button
        class="p-link hover:scale-95 hover:cursor-pointer"
        [pTooltip]="item.tooltip || ''"
        tooltipPosition="top"
        (click)="item.action(selectedRole())"
      >
        <i [class]="item.icon"></i>
      </button>
    }
  </div>
</p-popover>

<app-roles-form
  [visible]="showActionDialog()"
  (saved)="onRoleSaved()"
  (visibleChange)="showActionDialog.set($event)"
  [data]="selectedRole()"
/>

<app-user-role-dialog
  [visible]="showUserRoleDialog()"
  (visibleChange)="showUserRoleDialog.set($event)"
  [role]="selectedRole()"
  (saved)="onRoleSaved()"
/>
