<div class="bg-[#1A1726] border border-[#2F2B43] rounded-md w-full overflow-hidden shadow-xl">
  <p-table
    [value]="data()"
    [paginator]="true"
    [rows]="20"
    class="p-datatable-custom"
    [lazy]="true"
    (onLazyLoad)="onTableLazyLoad($event)"
    [totalRecords]="totalRecords()"
    [loading]="loading()"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando {first}-{last} de {{ totalRecords() }} registros"
    [showCurrentPageReport]="true"
    paginatorDropdownAppendTo="body"
    [scrollable]="true"
    scrollHeight="600px"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th colspan="6" class="border-none p-4 pb-0">
        <div class="flex gap-3 mb-2 justify-end items-center w-full px-6">

            <select
              [ngModel]="typeSelected()"
              (ngModelChange)="typeSelected.set($event); onFilterChange()"
              class="w-85 bg-[#1a1726] border border-[#2f2b43] rounded-md px-3 py-2 text-xs text-[#F3F3F6] focus:border-[#9D72FF] outline-none cursor-pointer"
            >
              <option [disabled]="true" [selected]="true" value="">Buscar por estado...</option>
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
          <p-button icon="pi pi-filter-slash" (onClick)="limpiarFiltros()" class="p-button-text">
          </p-button>
        </div>
        </th>
      </tr>
      <tr class="text-[10px] tracking-widest text-[#9A96A8] uppercase">
        @for (col of columns(); track col.field) {
          <th [style.width]="getColumnWidth(col.field)" class="relative overflow-visible">
            <div class="flex items-center gap-1.5 justify-between">
              <span class="truncate">{{ col.name }}</span>
            </div>
          </th>
        }
        <th style="width: 5%" class="text-center relative overflow-visible">
          <div class="flex items-center gap-1.5 justify-between">
            <span class="truncate">ACCIONES</span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-services>
      <tr class="hover:bg-[#232032] transition-colors border-b border-[#2F2B43]/50 text-xs">
        <td class="font-mono text-[11px] text-[#9a96a8] pl-6 py-4 h-10">
          {{ services.name }}
        </td>
        <td class="py-4">
          {{ services.upstreamUrl}}
        </td>
        <td class="py-4 font-bold tracking-wide">
          <span>{{ FormattedStatus(services.requiresAuth, "required") }}</span>
        </td>
        <td class="py-4 font-bold">
          {{ FormattedStatus(services.isActive, "status") }}
        </td>
        <td class="py-4 font-bold">
          {{ services.associatedPoliciesCount }}
        </td>
        <td class="py-4 text-center">
          <div class="flex justify-center pr-6">
            <button
              type="button"
              pButton
              severity="secondary"
              variant="outlined"
              pTooltip="Ver acciones"
              tooltipPosition="top"
              (click)="op.toggle($event); selectedServices.set(services)"
            >
              <i class="pi pi-ellipsis-h"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center h-20 py-8 text-[#9A96A8] italic text-xs">
          No matching logs found for the selected criteria.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-popover #op>
  <div class="flex gap-4">
    @for (item of buttonOptions(); track $index) {
      <button
      class="p-link hover:scale-95 hover:cursor-pointer"
      [pTooltip]="item.tooltip || ''"
      tooltipPosition="top"
      (click)="item.action(selectedServices())"
    >
      <i [class]="item.icon"></i>
    </button>
    }
  </div>
</p-popover>
