<div class="bg-[#1A1726] custom-scrollbar scroll-smooth border border-[#2F2B43] rounded-md w-full overflow-y-scroll max-h-134 shadow-xl">
  <p-table
    [value]="data()"
    [paginator]="false"
    [lazy]="true"
    class="p-datatable-custom"
    [loading]="loading()"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr class="text-[10px] tracking-widest text-[#9A96A8] uppercase">
        @for (col of columns(); track col.field) {
          <th [style.width]="getColumnWidth(col.field)" class="relative overflow-visible">
            <div class="flex items-center gap-1.5 justify-between">
              <span class="truncate">{{ col.name }}</span>
            </div>
          </th>
        }
        <th style="width: 5%" class="text-center relative overflow-visible">
          <div class="flex items-center gap-1.5 justify-between">
            <span class="truncate">ACCIONES</span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
      <tr class="hover:bg-[#232032] transition-colors border-b border-[#2F2B43]/50 text-xs">
        <td class="font-mono text-[11px] text-[#9a96a8] pl-6 py-4 h-10">
          {{ role.name }}
        </td>
        <td class="py-4 w-100">
          <span class="text-xs font-mono text-gray-400">{{ role.description }}</span>
        </td>
        <td class="py-4 text-blue-700 opacity-70 text-[15px] font-bold pl-15!">
          {{ role.usersCount }}
        </td>
         <td class="py-4 text-center">
          <div class="flex justify-center">
            <button
              type="button"
              pButton
              severity="secondary"
              variant="outlined"
              pTooltip="Ver acciones"
              tooltipPosition="top"
              (click)="op.toggle($event); selectedRole.set(role)"
            >
              <i class="pi pi-ellipsis-h"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center h-20 py-8 text-[#9A96A8] italic text-xs">
          No matching roles found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-popover #op>
  <div class="grid grid-cols-2 gap-4">
    @for (item of buttonsOptions(); track $index) {
      <button
      class="p-link hover:scale-95 hover:cursor-pointer"
      [pTooltip]="item.tooltip || ''"
      tooltipPosition="top"
      (click)="item.action(selectedRole())"
    >
      <i [class]="item.icon"></i>
    </button>
    }
  </div>
</p-popover>
