<div class="flex flex-col lg:flex-row gap-4 mb-4 justify-end items-center">
  <div class="flex gap-8 items-end">
    <p-iconfield iconPosition="left">
        <p-inputicon class="pi pi-search text-[#9a96a8]" />
        <input
          type="text"
          pInputText
          [(ngModel)]="typeSelected"
          (keyup.enter)="onFilterChange()"
          placeholder="Buscar por tipo... (Enter para buscar)"
          class="w-85 bg-[#1a1726] border border-[#2f2b43] rounded-md pl-9 pr-4 py-2 text-xs text-[#F3F3F6] focus:border-[#9D72FF] outline-none"
        />
      </p-iconfield>
  </div>
  <p-button icon="pi pi-filter-slash" (onClick)="limpiarFiltros()" class="p-button-text">
    </p-button>
</div>

<div class="bg-[#1A1726] border border-[#2F2B43] rounded-md w-full overflow-hidden shadow-xl">
  <p-table
    [value]="data()"
    [paginator]="true"
    [rows]="20"
    class="p-datatable-custom"
    [lazy]="true"
    (onLazyLoad)="onTableLazyLoad($event)"
    [totalRecords]="totalRecords()"
    [loading]="loading()"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Mostrando {first}-{last} de {{ totalRecords() }} registros"
    [showCurrentPageReport]="true"
    paginatorDropdownAppendTo="body"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
  >
    <ng-template pTemplate="header">
      <tr class="text-[10px] tracking-widest text-[#9A96A8] uppercase">
        @for (col of columns(); track col.field) {
          <th [style.width]="getColumnWidth(col.field)" class="relative overflow-visible">
            <div class="flex items-center gap-1.5 justify-between">
              <span class="truncate">{{ col.name }}</span>
            </div>
          </th>
        }
        <th style="width: 5%" class="text-center relative overflow-visible">
          <div class="flex items-center gap-1.5 justify-between">
            <span class="truncate">DETAILS</span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-policies>
      <tr class="hover:bg-[#232032] transition-colors border-b border-[#2F2B43]/50 text-xs">
        <td class="font-mono text-[11px] text-[#9a96a8] pl-6 py-4">
          {{ policies.name }}
        </td>
        <td class="py-4">
          <span class="text-xs font-mono text-gray-400">{{ policies.type }}</span>
        </td>
        <td class="py-4">
          {{ policies.weight | number: '1.1-1' }}
        </td>
        <td class="py-4 font-bold tracking-wide">
          <span>{{ getConditionText(policies) }}</span>
        </td>
        <td class="py-4 font-bold">
          {{ policies.createdByUsername }}
        </td>
        <td class="py-4 text-center">
          <button
            class="p-2 hover:bg-[#2F2B43] rounded-md text-[#9A96A8] hover:text-[#9D72FF] transition"
          >
            <i class="pi pi-arrow-right"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center h-20 py-8 text-[#9A96A8] italic text-xs">
          No matching logs found for the selected criteria.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
